@import 'bootstrap/variables'

.spinner
  width: 100%
  min-height: 50%
  min-height: 50vh
  display: flex
  align-items: center
  text-align: center
  .fa
    margin: 0 auto
    color: lighten($text-color, 60)
    font-size: 45px
