$size = 32px

.organization-list-item
  .media-left img
    width: $size
    height: $size
  .media-body
    .login
      font-size: 1.2em
      height: $size
      display: flex
      align-items: center
