@import 'bootstrap/variables'

#global-nav
  a
    color: $text-color
    &:hover
      color: lighten($text-color, 30)
  .navbar-toggle
    &:hover
      background-color: darken($body-bg, 10)
    .icon-bar
      background-color: $text-color
